.keyboard {

    display: flex;
    
    justify-content: center;
    position: relative;
    bottom: -600px;
    
}
.key {

    border: 2px solid #000;
    height: 350px;
    margin: 1px;
    cursor: pointer;
    
}
.white {
    background-color: rgb(255, 255, 255);
    width: 100px;
}
.black {
    background-color: rgb(0, 0, 0);
    width: 70px;
    height: 200px;
    margin-left: -35px;
    margin-right: -35px;
    z-index: 1;
}
input[type="range"] {
    width: 100%;
    font-size: 200%;
   
}

.oscillator {
    background-color: #9fc990; 
    border: 2px solid #000;
    padding: 5%;
    width: 300px; 
    height: 400px;
    border-radius: 1cap;
    position: absolute;
    top: 10px;  
    left: 50px; 
}

.envelope {
    background-color: #c8eaff; 
    border: 2px solid #000;
    padding: 5%;
    width: 500px; 
    height: 400px;
    border-radius: 1cap;
    position: absolute;
    top: 10px;  
    right: 50px; 
}

.filter {

    background-color: #eede8e; 
    border: 2px solid #090909;
    padding: 5%;
    width: 300px; 
    height: 400px;
    border-radius: 1cap;
    position: absolute;
    top: 10px;  
    right: 750px;
    
}

label{
    
    color: #000000;
    font-size: 400%;
    
}

select{
    font-size: 200%;
}