.keyboard {

    display: flex;
    
    justify-content: center;
    position: relative;
    bottom: -650px;
    
}
.key {

    height: 330px;
    margin: 1px;
    
    
}
.white {
    background-color: rgb(255, 255, 255);
    width: 100px;
}
.black {
    background-color: rgb(0, 0, 0);
    width: 70px;
    height: 200px;
    margin-left: -35px;
    margin-right: -35px;
    z-index: 1;
}
input {
    width: 100%;

    
}

.oscillator {
    background-color: #9fc990; 
    border: 2px solid #000;
    padding: 5%;
    width: 300px; 
    height: 450px;
    border-radius: 1cap;
    position: absolute;
    top: 10px;  
    left: 50px; 
}

.envelope {
    background-color: #c8eaff; 
    border: 2px solid #000;
    padding: 5%;
    width: 500px; 
    height: 450px;
    border-radius: 1cap;
    position: absolute;
    top: 10px;  
    right: 50px; 
}

.filter {

    background-color: #eede8e; 
    border: 2px solid #090909;
    padding: 5%;
    width: 300px; 
    height: 450px;
    border-radius: 1cap;
    position: absolute;
    top: 10px;  
    right: 750px;
    
}

label{
    text-align: center;
    color: #000000;
    font-size: 400%;
    font-family: Helvetica;
    
;
}

select{
    font-size: 200%;
}

body {
    background-color: #000;
}

span {
    font-size: 200%;
}